<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.p2pcs_app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".volley_test">
        </activity>
        <activity android:name=".ClassificaActivity"
                  android:label="Classifiche">
        </activity>
        <activity android:name=".VisualizzaMacchinaActivity"
                  android:label="Visualizza Auto">
        </activity>
        <activity android:name=".EditCar"
                  android:label="Modifica Auto">
        </activity>
        <activity android:name=".Leaderboards"
                  android:label="Classifiche">
        </activity>
        <activity android:name=".MyCarRequests"
                  android:label="Prenotazioni Auto">
        </activity>
        <activity android:name=".CarRequests"
                  android:label="Prenotazioni Viaggi">
        </activity>
        <activity android:name=".Coupons"
                  android:label="Premi e Coupons">
        </activity>
        <activity android:name=".PersonalData"
                  android:label="Dati Personali">
        </activity>
        <activity android:name=".login_register_cognito.ConfirmRegisterActivity"
                  android:label="Conferma Registrazione">
        </activity>
        <activity android:name=".login_register_cognito.RegisterActivity"
                  android:label="Registrazione">
        </activity>
        <activity android:name=".login_register_cognito.LoginActivity"
                  android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="P2PCS">
        </activity>
    </application>

</manifest>